.drawer-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #EAEAEA;
    outline: none;
    border: none;
    border-radius: 7px; 
    width: 50px;
    height: 30px;
    margin: 2.2rem;
    cursor: pointer;
}

.drawer-button_line {
    display: flex;
    background: darkgreen;
    width: 39px;
    height: 3px;

}